@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@font-face {
  font-family: 'Kudryashev Display';
  src: url("../font/KudryashevDisplay-Sans.eot");
  src: local("../Kudryashev Display Sans"), local("KudryashevDisplay-Sans"), url("../font/KudryashevDisplay-Sans.eot?#iefix") format("embedded-opentype"), url("../font/KudryashevDisplay-Sans.woff2") format("woff2"), url("../font/KudryashevDisplay-Sans.woff") format("woff"), url("../font/KudryashevDisplay-Sans.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Headline';
  src: url("../font/KudryashevHeadline.eot");
  src: local("../font/Kudryashev Headline"), local("KudryashevHeadline"), url("../font/KudryashevHeadline.eot?#iefix") format("embedded-opentype"), url("../font/KudryashevHeadline.woff2") format("woff2"), url("../font/KudryashevHeadline.woff") format("woff"), url("../font/KudryashevHeadline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Display';
  src: url("../font/KudryashevDisplay.eot");
  src: local("../font/Kudryashev Display"), local("KudryashevDisplay"), url("../font/KudryashevDisplay.eot?#iefix") format("embedded-opentype"), url("../font/KudryashevDisplay.woff2") format("woff2"), url("../font/KudryashevDisplay.woff") format("woff"), url("../font/KudryashevDisplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Headline';
  src: url("../font/KudryashevHeadline-Sans.eot");
  src: local("../font/Kudryashev Headline Sans"), local("KudryashevHeadline-Sans"), url("../font/KudryashevHeadline-Sans.eot?#iefix") format("embedded-opentype"), url("../font/KudryashevHeadline-Sans.woff2") format("woff2"), url("../font/KudryashevHeadline-Sans.woff") format("woff"), url("../font/KudryashevHeadline-Sans.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1D1D1A;
  background-color: #F0E3DA;
}

a {
  text-decoration: none;
}

header {
  color: #fff;
  background-image: url(../img/Header_bgr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0;
  position: relative;
}

header a {
  color: #fff;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.join {
  position: relative;
  height: 30vh;
}

.join-ellips {
  position: absolute;
  cursor: pointer;
}

.join-ellips__small {
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.join-ellips__small:hover {
  top: 2px;
  left: 13px;
}

.join__link {
  top: 20%;
  position: absolute;
  left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 45px;
}

.join__link-action {
  width: 320px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 16px;
  -webkit-transition: margin-left 0.3s ease 0s;
  transition: margin-left 0.3s ease 0s;
}

.join__link-action:hover {
  margin-left: 26px;
}

.join__link-action.black {
  color: #1D1D1A;
}

.header {
  margin-bottom: -3px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 68px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-inner.social {
  margin-right: 30px;
}

.header__top_logo {
  width: 17vw;
  height: auto;
}

.header__top-title, .header__top-adress, .header__top-adress_link {
  font-size: 14px;
  line-height: 158.9%;
}

.header__top-title {
  width: 175px;
}

.header__top-adress {
  position: relative;
}

.header__top-adress::before {
  position: absolute;
  content: url(../img/Adress_before.svg);
  bottom: 2px;
  right: -20px;
  cursor: pointer;
}

.header__top-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.header__top-call_tel {
  font-family: 'Kudryashev Headline';
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-weight: 700;
  position: relative;
}

.header__top-call_tel::before {
  position: absolute;
  content: url(../img/Adress_before.svg);
  right: -20px;
  top: -5px;
  cursor: pointer;
}

.header__top-call_call {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: 13px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

.header__title {
  width: 580px;
}

.header__title h1 {
  font-family: 'Kudryashev Headline';
  font-weight: 400;
  font-size: 60px;
  line-height: 131.2%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.header__title h1 span {
  font-size: 80px;
}

.header__title p {
  font-size: 23px;
  line-height: 164.9%;
  width: 380px;
  margin-bottom: 35px;
}

.header__texture-cell {
  position: absolute;
  right: 92px;
  top: 0;
  pointer-events: none;
}

.header__texture-ellipse {
  position: absolute;
  top: 335px;
  right: 210px;
  pointer-events: none;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner {
  width: 50%;
  position: relative;
}

.texture {
  position: absolute;
  content: url(../img/texture_cell.svg);
  margin-left: 33.33%;
  margin-top: -93px;
  z-index: 1;
}

.problem {
  padding-top: 93px;
  padding-bottom: 120px;
  margin-bottom: 120px;
  position: relative;
  background-color: #fff;
}

.problem-title {
  font-family: 'Kudryashev Display';
  font-weight: 400;
  font-size: 89px;
  line-height: 105%;
  letter-spacing: 4.96px;
  text-transform: uppercase;
  margin-left: -156px;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.problem-subtitle {
  font-family: 'Kudryashev Display';
  font-weight: 400;
  font-size: 77px;
  line-height: 60%;
  letter-spacing: 4.96px;
  text-transform: uppercase;
  color: #B68C6E;
  margin-bottom: 60px;
}

.problem-subtitle span {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 105%;
  text-transform: uppercase;
  color: #312C38;
}

.problem .inner .join {
  height: 152px;
}

.problem__img {
  position: relative;
  z-index: 0;
}

.problem__img::after {
  position: absolute;
  content: "";
  background: #F0E3DA;
  height: 385px;
  width: 710px;
  left: -132px;
  bottom: -70px;
  z-index: -1;
}

.problem__img-problem {
  position: absolute;
  bottom: 32px;
  left: -70px;
}

.problem-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  margin-bottom: 135px;
}

.problem-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.problem-block__text {
  width: 210px;
}

.thread__inner-img::before {
  position: absolute;
  content: "";
  width: 832px;
}
/*# sourceMappingURL=style.css.map */