@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@font-face {
  font-family: 'Kudryashev Display';
  src: url("../font/KudryashevDisplay-Sans.eot");
  src: local("../Kudryashev Display Sans"), local("KudryashevDisplay-Sans"), url("../font/KudryashevDisplay-Sans.eot?#iefix") format("embedded-opentype"), url("../font/KudryashevDisplay-Sans.woff2") format("woff2"), url("../font/KudryashevDisplay-Sans.woff") format("woff"), url("../font/KudryashevDisplay-Sans.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Headline';
  src: url("../font/KudryashevHeadline.eot");
  src: local("../font/Kudryashev Headline"), local("KudryashevHeadline"), url("../font/KudryashevHeadline.eot?#iefix") format("embedded-opentype"), url("../font/KudryashevHeadline.woff2") format("woff2"), url("../font/KudryashevHeadline.woff") format("woff"), url("../font/KudryashevHeadline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Display';
  src: url("../font/KudryashevDisplay.eot");
  src: local("../font/Kudryashev Display"), local("KudryashevDisplay"), url("../font/KudryashevDisplay.eot?#iefix") format("embedded-opentype"), url("../font/KudryashevDisplay.woff2") format("woff2"), url("../font/KudryashevDisplay.woff") format("woff"), url("../font/KudryashevDisplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Headline';
  src: url("../font/KudryashevHeadline-Sans.eot");
  src: local("../font/Kudryashev Headline Sans"), local("KudryashevHeadline-Sans"), url("../font/KudryashevHeadline-Sans.eot?#iefix") format("embedded-opentype"), url("../font/KudryashevHeadline-Sans.woff2") format("woff2"), url("../font/KudryashevHeadline-Sans.woff") format("woff"), url("../font/KudryashevHeadline-Sans.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1D1D1A;
}

a {
  text-decoration: none;
}

header {
  color: #fff;
  background-image: url(../img/Header_bgr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0;
  position: relative;
}

header a {
  color: #fff;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.join {
  position: relative;
  height: 50vh;
}

.join__ellips_wite {
  position: absolute;
}

.join__ellips_wite-small {
  position: absolute;
  top: -5px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 68px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-inner.social {
  margin-right: 30px;
}

.header__top_logo {
  width: 17vw;
  height: auto;
}

.header__top-title, .header__top-adress, .header__top-adress_link {
  font-size: 14px;
  line-height: 158.9%;
}

.header__top-title {
  width: 175px;
}

.header__top-adress {
  position: relative;
}

.header__top-adress::before {
  position: absolute;
  content: url(../img/Adress_before.svg);
  bottom: 2px;
  right: -20px;
  cursor: pointer;
}

.header__top-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.header__top-call_tel {
  font-family: 'Kudryashev Headline';
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-weight: 700;
  position: relative;
}

.header__top-call_tel::before {
  position: absolute;
  content: url(../img/Adress_before.svg);
  right: -20px;
  top: -5px;
  cursor: pointer;
}

.header__top-call_call {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: 13px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

.header__title {
  width: 580px;
}

.header__title h1 {
  font-family: 'Kudryashev Headline';
  font-weight: 400;
  font-size: 60px;
  line-height: 131.2%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.header__title h1 span {
  font-size: 80px;
}

.header__title p {
  font-size: 23px;
  line-height: 164.9%;
  width: 380px;
  margin-bottom: 35px;
}

.header__texture-cell {
  position: absolute;
  right: 92px;
  top: 0;
}

.header__texture-ellipse {
  position: absolute;
  top: 335px;
  right: 210px;
}
/*# sourceMappingURL=style.css.map */