@font-face {
  font-family: 'Kudryashev Display';
  src: url('../font/KudryashevDisplay-Sans.eot');
  src: local('../Kudryashev Display Sans'), local('KudryashevDisplay-Sans'),
      url('../font/KudryashevDisplay-Sans.eot?#iefix') format('embedded-opentype'),
      url('../font/KudryashevDisplay-Sans.woff2') format('woff2'),
      url('../font/KudryashevDisplay-Sans.woff') format('woff'),
      url('../font/KudryashevDisplay-Sans.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Kudryashev Headline';
  src: url('../font/KudryashevHeadline.eot');
  src: local('../font/Kudryashev Headline'), local('KudryashevHeadline'),
      url('../font/KudryashevHeadline.eot?#iefix') format('embedded-opentype'),
      url('../font/KudryashevHeadline.woff2') format('woff2'),
      url('../font/KudryashevHeadline.woff') format('woff'),
      url('../font/KudryashevHeadline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kudryashev Display';
  src: url('../font/KudryashevDisplay.eot');
  src: local('../font/Kudryashev Display'), local('KudryashevDisplay'),
      url('../font/KudryashevDisplay.eot?#iefix') format('embedded-opentype'),
      url('../font/KudryashevDisplay.woff2') format('woff2'),
      url('../font/KudryashevDisplay.woff') format('woff'),
      url('../font/KudryashevDisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kudryashev Headline';
  src: url('../font/KudryashevHeadline-Sans.eot');
  src: local('../font/Kudryashev Headline Sans'), local('KudryashevHeadline-Sans'),
      url('../font/KudryashevHeadline-Sans.eot?#iefix') format('embedded-opentype'),
      url('../font/KudryashevHeadline-Sans.woff2') format('woff2'),
      url('../font/KudryashevHeadline-Sans.woff') format('woff'),
      url('../font/KudryashevHeadline-Sans.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
// ****************COLOR**************************
$bcgr-primary: #F0E3DA;
$bcgr-accent: #EACFBC;
$bcgr-offer_bej: #D1AE8E;
$bcgr-offer_dark:#1D1D1A;
$font-accent: #B68C6E;
// **********************************************
body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1D1D1A;
  background-color: $bcgr-primary;
}
a {
  text-decoration: none;
}
header {
  color: #fff ;
  background-image: url(../img/Header_bgr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0;
  position: relative;
  & a {
    color: #fff;
  }
}
// *************BLOCKS***************
.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}
.join {
  position: relative;
  height: 30vh;
  &-ellips {
    position: absolute;
    cursor: pointer;
  }
  &-ellips__small {
    position: absolute;
    top: -5px;
    left: 0;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover {
      top: 2px;
      left: 13px;
    }
  }
  &__link {
    top: 20%;
    position: absolute;
    left: 35px;
    display: flex;
    top: 45px;
    &-action {
      width: 320px;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 16px;
      transition: margin-left 0.3s ease 0s;
      &:hover {
        margin-left: 26px;
      }
      &.black {
        color: #1D1D1A
      }
    }
  }

}
.item {
  display: flex;
}
.inner {
  width: 50%;
  position: relative;
}
.texture {
  position: absolute;
  content: url(../img/texture_cell.svg);
  margin-left: 33.33%;
  margin-top: -93px;
  z-index: 1;
}
.oval-left {
  position: absolute;
  left: 0;
  top: 780px;
}
// ************SECTION**********
.header {
  margin-bottom: -3px;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
    &-inner {
      display: flex;
      column-gap: 30px;
      align-items: center;
      &.social {
        margin-right: 30px;
      }
    }
    &_logo {
      width: 17vw;
      height: auto;
    }
    &-title, &-adress, &-adress_link {
      font-size: 14px;
      line-height: 158.9%;
    }
    &-title {
      width: 175px;
    }
    &-adress {
      position: relative;
      &::before {
        position: absolute;
        content: url(../img/Adress_before.svg);
        bottom: 2px;
        right: -20px;
        cursor: pointer;
      }
    }
    &-call {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      &_tel {
        font-family: 'Kudryashev Headline';
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.05em;
        font-weight: 700;
        position: relative;
        &::before{
          position: absolute;
          content: url(../img/Adress_before.svg);
          right: -20px;
          top: -5px;
          cursor: pointer;
        }
      }
      &_call {
        text-transform: lowercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        margin-top: 13px;
        border: none;
        background: none;
        color: #fff;
        cursor: pointer;
      }
    }
    
  }
  &__title {
    width: 580px;
    & h1 {
      font-family: 'Kudryashev Headline';
      font-weight: 400;
      font-size: 60px;
      line-height: 131.2%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      margin-bottom: 60px;
      & span {
        font-size: 80px;
      }
    }
    & p {
      font-size: 23px;
      line-height: 164.9%;
      width: 380px;
      margin-bottom: 35px;
    }
  }
  &__texture {
    &-cell {
      position: absolute;
      right: 92px;
      top: 0;
      pointer-events: none;
    }
    &-ellipse {
      position: absolute;
      top: 335px;
      right: 210px;
      pointer-events: none;
    }
    
  }
}
.problem {
  padding-top: 93px;
  padding-bottom: 120px;
  position: relative;
  background-color: #fff;
  &-title {
    font-family: 'Kudryashev Display';
    font-weight: 400;
    font-size: 89px;
    line-height: 105%;
    letter-spacing: 4.96px;
    text-transform: uppercase;
    margin-left: -156px;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  &-subtitle {
    font-family: 'Kudryashev Display';
    font-weight: 400;
    font-size: 77px;
    line-height: 60%;
    letter-spacing: 4.96px;
    text-transform: uppercase;
    color: #B68C6E;
    margin-bottom: 60px;
    & span {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 20px;
      line-height: 105%;
      text-transform: uppercase;
      color: #312C38;
    }
  }
  & .inner {
    & .join {
      height: 152px;
    }
  }
  &__img {
    position: relative;
    z-index: 0;
    &::after {
      position: absolute;
      content: "";
      background: $bcgr-primary;
      height: 385px;
      width: 710px;
      left: -132px;
      bottom: -70px;
      z-index: -1;
    }
    &-problem {
      position: absolute;
      bottom: 32px;
      left: -70px;
    }
  }
  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 135px;
    &__item {
      display: flex;
      column-gap: 25px;
      align-items: center;
    }
    &__text {
      width: 210px;
    }
  }
}
.thread {
  position: relative;
  & .texture {
    margin-top: 60px;
  }
  & .inner {
    position: relative;
    margin-bottom: 91px;
    &.before::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 623px;
      background-color: $bcgr-accent;
      bottom: 0;
      z-index: -1;
    }
    &.info {
      padding-top: 260px;
    }
    &.quote {
      display: flex;
      justify-content: center;
      padding-top: 120px;
    }
  }
  &__inner {
    &-img {
    text-align: center;
    margin-bottom: 100px;
    }
    &-aptos {
      position: absolute;
      content: "";
      bottom: 40px;
      right: 145px;
    }
    &-face {
      width: 75%;
    }
  }
  &__info {
    width: 550px;
    margin-left: 100px;
    & h3 {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 20px;
      line-height: 105%;
      text-transform: uppercase;
      margin-bottom: 11px;
      color: #312C38;
    }
    & p {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 16px;
      line-height: 180%;
      margin-bottom: 10px;
    }
  }
  &__title {
    font-family: 'Kudryashev Display';
    font-weight: 400;
    font-size: 88.57px;
    line-height: 105%;
    letter-spacing: 4.96px;
    text-transform: uppercase;
    color: #312C38;
    margin-left: -150px;
  }
  &__subtitle {
    font-family: 'Kudryashev Display';
    font-weight: 400;
    font-size: 76.76px;
    line-height: 105%;
    letter-spacing: 4.96px;
    text-transform: uppercase;
    color: #B68C6E;
    margin-bottom: 25px;
  }
  &__quote {
    position: relative;
    width: 560px;
    &::after {
      position: absolute;
      content: url(../img/Quote.svg);
      top: 0;
      left: -80px;
    }
    &-text {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 400;
      font-size: 35px;
      line-height: 154%;
      color: #B68C6E;
      margin-bottom: 110px;
      padding-bottom: 52px;
    }
    & p {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 18px;
      line-height: 200%;
    }
  }
  &__photo {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 119px;
    &_3 {
      position: absolute;
      bottom: -70px;
      left: -150px;
    }
    &-text {
      margin-left: 100px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 18px;
      line-height: 200%;
    }
  }
  &__banner {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 5;
  }
}
.how {
  &-item {
    padding-right: 55px;
  }
  & .inner.video {
    position: relative;
    padding-top: 160px;
    display: flex;
    justify-content: flex-end;
    &::after {
      position: absolute;
      content: "";
      background-color: $bcgr-accent;
      height: 534px;
      width: 100%;
      top: 0;
      z-index: -2;
    }  
  }
  & .inner.step {
    padding-top: 66px;
    margin-left: 28px;
  }
  &-video {
    &__block {
      position: relative;
      margin-bottom: 100px;
    }
    &__video {
      z-index: -1;
      right: 55px;
    }
    &__play {
      position: absolute;
      top: 41%;
      left: 43%;
    }
    &__img{
      position: absolute;
      bottom: -10px;
      right: -40px;
      &-1 {
        position: relative;
      }
      &-2 {
        position: absolute;
        top: 19%;
        left: 8%;
      }
      &-play {
        position: absolute;
        top: 30%;
        left: 38%;
        cursor: pointer;
        transition: top, left 0.3s ease 0s;
        & img {
          width: 100%;
          transition: all 0.3s ease 0s;
        }
        &:hover {
          top: 28%;
          left: 36%;
          & img {
          width: 130%;
          }
        }
      }
    }
  }
  &-list {
    &__link {
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 18px;
      line-height: 190%;
      text-transform: uppercase;
      cursor: pointer;
      color: #1D1D1A;
      & span {
        color: #B68C6E;
        text-decoration: underline;
      }
    }
  }
  &-title {
    font-family: 'Kudryashev Display';
    font-weight: 400;
    font-size: 85px;
    line-height: 90%;
    color: #1D1D1A;
    margin-left: -185px;
    margin-bottom: 62px;
    & span {
      color: $font-accent;
    }
  }
  &-step {
    padding-bottom: 14px;
    margin-bottom: 75px;
    &__item {
      margin-bottom: 40px;
      display: flex;
      &-title {
        display: flex;
        margin-right: 44px;
      }
      &-counter {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 20px;
        line-height: 180%;
        color: #22211E;
        margin-top: -10px;
        margin-right: 20px;
      }
      &-move {
        font-family: 'Lora';
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        line-height: 138.2%;
        color: #1D1D1A;
        width: 200px;
      }
      &-text {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        color: #1D1D1A;
        width: 460px;
      }
    }
  }
  &-desription {
    margin-bottom: 120px;
    &__item {
      display: flex;
      border-bottom: $font-accent 1px solid;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0 20px;
      &-name {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        line-height: 134%;
        text-transform: uppercase;
        color: #1D1D1A;
      }
      &-value {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        line-height: 105%;
        color: #1D1D1A;
      }
    }
  }
}
.benefit {
  background-color: #fff;
  padding: 110px 0 125px;
  & h2 {
    font-family: 'Kudryashev Display';
    font-weight: 400;
    font-size: 85px;
    line-height: 90%;
    color: #1D1D1A;
    margin-bottom: 65px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &-img {
    margin-bottom: 27px;
  }
  &-title {
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 138.2%;
    text-transform: uppercase;
    color: #22211E;
  }
  &-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #22211E;
    width: 310px;
  }
}
.example {
  background-color: #fff;
  padding-bottom: 180px;
  & .texture {
    margin-top: 0;
    pointer-events: none;
  }
  & .inner.result {
    margin: 150px 0 0 160px;
  }
  & .inner.slider {
    padding-top: 100px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  &__slider {
    width: 560px;
    overflow: hidden;
    position: relative;
    & .slick-track {
      display: flex;
    }
    &-controls {
      display: flex;
      justify-content: space-between;
      top: 45%;
      width: 90%;
      margin-top: -25px;

      & .slick-arrow {
        height: 100px;
        width: 100px;
        background-color: #FFFFFF;
        opacity: 0.6;
        box-shadow: 0px 54px 100px rgba(0, 0, 0, 0.08);;
        border: none;
        font-size: 0;
        &.slick-prev {
          background-image: url(../img/example/examle_slider_arrow_left.svg);
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 45%;
          left: 10px;
          cursor: pointer;
        }
        &.slick-next {
          background-image: url(../img/example/examle_slider_arrow_right.svg);
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 45%;
          right: -65px;
          cursor: pointer;
        }
      }
    }
  }
  & .dragger{
    pointer-events: none;
  }
  &__after {
    z-index: 2;
    position: absolute;
    bottom: -90px;
    left: 75px;
  }
  &__title {
    margin-bottom: 72px;
    &-gold {
      font-family: 'Kudryashev Display';
      font-weight: 400;
      font-size: 85px;
      line-height: 109.7%;
      color: #B68C6E;
      margin-left: -100px;
    }
    &-black {
      font-family: 'Kudryashev Display';
      font-weight: 400;
      font-size: 120px;
      line-height: 109.7%;
      color: #1D1D1A;
    }
  }
  &__text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 184.5%;
    text-transform: uppercase;
    color: #1D1D1A;
    margin-bottom: 20px;
    & span {
      color: $font-accent;
    }
  }
  & .join {
    margin-left: -100px;
    height: 5vh;
  }
}
.exclusive{
  margin-bottom: 233px;
  position: relative;
  height: 870px;
  &::before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 100%;
    height: 75%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  & h2 {
    text-align: center;
    font-family: 'Kudryashev Display';
    font-weight: 400;
    font-size: 85px;
    line-height: 90%;
    color: #1D1D1A;
    margin-bottom: 45px;
  }
  &-ellipse {
    position: absolute;
    content: "";
    top: 72px;
    left: 22%;
  }
  &__slider {
    position: relative;
    &-inner {
      overflow: hidden;
      & .slick-list {
        width: 140vw;
        margin-left: -18vw;
      }
      & .slick-track {
        & .slick-center img {
          width: 100%;
          margin-left: -26%;
          padding: 0 100px;
          height: 670px;
        }
      }
    }
    &-img {
      object-fit: cover;
      width: 75%;
      padding: 10% 0 0;
      height: 536px; 
    }
    &-controls {
      display: flex;
      justify-content: center;
      column-gap: 43%;
      margin-top: -24%;
      & .slick-arrow {
        height: 100px;
        width: 100px;
        background-color: #FFFFFF;
        opacity: 0.6;
        box-shadow: 0px 54px 100px rgba(0, 0, 0, 0.08);;
        border: none;
        font-size: 0;
        &.slick-prev {
          background-image: url(../img/example/examle_slider_arrow_left.svg);
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }
        &.slick-next {
          background-image: url(../img/example/examle_slider_arrow_right.svg);
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }
      }
    }
  }
  &__popup {
    z-index: 5;
    position: absolute;
    bottom: 75px;
    left: 30%;
    padding: 76px 35px 82px;
    background-color: #fff;
    &-close {
      position: relative;
      &_x {
        position: absolute;
        right: 0;
        top: -50px;
        width: 15px;
        height: 15px;
        color: $font-accent;
        cursor: pointer;
      }
    }
    &-title {
      text-align: center;
      margin-bottom: 73px;
      & h3 {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 25px;
        line-height: 172%;
        color: #1D1D1A;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 75px;
    }
    &-sale {
      position: relative;
      padding-right: 30px;
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 1px;
        height: 185px;
        background-color: #C4C4C4;

      }
      & p {
        font-family: 'Kudryashev Display';
        font-weight: 400;
        font-size: 120px;
        line-height: 112.2%;
        letter-spacing: -0.02em;
        color: #B68C6E;
      }
    }
    &-inner {
      padding-left: 30px;
    }
    &-text {
      font-family: 'Kudryashev Display';
      font-weight: 400;
      font-size: 62.267px;
      line-height: 85.7%;
      text-transform: uppercase;
      color: #1D1D1A;
      margin-bottom: 18px;
    }
    &-subtext {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 32.4678px;
      line-height: 85.7%;
      text-transform: uppercase;
      color: #1D1D1A;
    }
    &-link {
      text-align: center;
      & a {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 20px;
        line-height: 172%;
        text-align: center;
        letter-spacing: 5px;
        color: #B68C6E;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        &::before {
          position: absolute;
          content: url(../img/exclusive_link_before.svg);
          top: -6px;
          right: -25px;
        }
      }
    }
    &.close {
      display: none;
    }
  }
}
.price {
  margin-bottom: 177px;
  &__title {
    margin-bottom: 75px;
    & h2 {
      font-family: 'Kudryashev Display';
      font-weight: 400;
      font-size: 85px;
      line-height: 90%;
      width: 525px;
    }
  }
  &-service {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 112.2%;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 85px;
  }
  &-item {
    margin-bottom: 25px;
  }
  &-inner {
    display: none;
    align-items: center;
    &__after {
      width: 65px;
      margin-right: 21px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #B68C6E;
        top: -55px;
      }
    }
    &__text {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 18px;
      line-height: 184.5%;
      margin-right: 30px;
      width: 300px;
    }
    &__price {
      position: relative;
    }
    &__img_slim {
      position: absolute;
      top: -80px;
      z-index: -1;
    }
    &__img_fat {
      position: absolute;
      top: -50px;
      left: 40px;
      z-index: -1;
    }
    &__sale {
      font-family: 'Lora';
      font-weight: 500;
      font-size: 28px;
      line-height: 112.2%;
      color: #FFFFFF;
      margin-left: 60px;
    }
  }
  &-service {
    cursor: pointer;
  }
  &-service.prise__active + .price-inner {
    display: flex;
  }
}